Repository skgupta507/Hyperpipe: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, docker, deploy

.woodpecker.yml:

pipeline:
  build:
    image: node:alpine
    commands:
      - npm install
      - npm run build
    when:
      path:
        [
          'src/*',
          'public/*',
          '*.js',
          '*.html',
          'package.json',
          '*.yml',
          'Dockerfile',
        ]
      event: ['push', 'pull_request']

  docker:
    image: woodpeckerci/plugin-docker-buildx
    settings:
      platforms: linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm/v8
      repo: codeberg.org/hyperpipe/hyperpipe
      registry: codeberg.org
      tags: latest
      username: snematoda
      password:
        from_secret: cb_token
    when:
      branch: main
      path: ['src/*', 'public/*', '*.js', '*.html', '*.yml', 'Dockerfile']
      event: ['push']

  deploy:
    image: node:alpine
    commands:
      - npm install surge
      - cp dist/index.html dist/200.html
      - npx surge ./dist hyperpipe.surge.sh
    secrets: [surge_login, surge_token]
    when:
      branch: main
      path: ['src/*', 'public/*', '*.js', '*.html', 'package.json']
      event: ['push']

Testing docker builds using CI
  .woodpecker.yml
  Dockerfile
  docker-compose.yml
Due: build, docker

Testing docker builds using CI
  Dockerfile
Due: build, docker

Testing docker builds using CI
  .woodpecker.yml
  Dockerfile
Due: build, docker

Testing docker builds using CI
  .woodpecker.yml
Due: build, docker

Testing docker builds using CI
  .dockerignore
  Dockerfile
Due: build, docker

Delete docker-compose.yml [CI SKIP]
  docker-compose.yml
Due: build, docker

Hotfix #84
  src/stores/results.js
Due: none

Update '.woodpecker.yml'
  .woodpecker.yml
Due: build, docker

Add Brazilian Portuguese translation
  src/locales/pt_br.json
  src/stores/misc.js
Due: none

Fixes #97
  src/App.vue
Due: build, docker, deploy

Fixes #97
  src/stores/player.js
Due: none

Add Piped to legal clarity
  README.md
Due: none

Translated using Weblate (Vietnamese)
  src/locales/vi.json
Due: none

Translated using Weblate (Azerbaijani)
  src/locales/az.json
Due: none

Changes: - Removing Local playlists and playlist items - Unsubscribe from feeds - Closes #56 - Closes #85
  .woodpecker.yml
  src/assets/version.json
  src/components/Artist.vue
  src/components/NewPlaylist.vue
  src/components/Search.vue
  src/components/SongItem.vue
  src/scripts/db.js
Due: build, docker

CI changes
  .woodpecker.yml
Due: build, docker

Improve README.md alt texts
  README.md
Due: none

Add ™ to README.md
  README.md
Due: none

Translated using Weblate (Spanish)
  src/locales/es.json
Due: none

Translated using Weblate (Czech)
  src/locales/cs.json
Due: none

Translated using Weblate (Turkish)
  src/locales/tr.json
Due: none

Translated using Weblate (German)
  src/locales/de.json
Due: none

Translated using Weblate (Italian)
  src/locales/it.json
Due: none

Translated using Weblate (French)
  src/locales/fr.json
Due: none

Translated using Weblate (Bosnian)
  src/locales/bs.json
Due: none

Translated using Weblate (Dutch)
  src/locales/nl.json
Due: none

Translated using Weblate (Croatian)
  src/locales/hr.json
Due: none

Translated using Weblate (Serbian)
  src/locales/sr.json
Due: none

Add translatable string prefs.language
  src/components/Prefs.vue
  src/locales/de.json
  src/locales/en.json
Due: none

Add translatable string action.register_on
  src/components/NewPlaylist.vue
  src/locales/de.json
  src/locales/en.json
Due: none

Translated using Weblate (Chinese (Simplified))
  src/locales/zh_Hans.json
Due: none

Changes: - Added pwa support - Compact view (#100) - Minor changes
  README.md
  index.html
  package-lock.json
  package.json
  public/manifest.json
  src/App.vue
  src/assets/base.css
  src/assets/version.json
  src/components/AlbumItem.vue
  src/components/Artist.vue
  src/components/Player.vue
  src/components/Prefs.vue
  src/components/SongItem.vue
  src/locales/en.json
  src/stores/player.js
  vite.config.js
Due: build, docker, deploy

Hotfix
  src/stores/player.js
Due: none
